body {
  margin: 0;
  overflow: hidden;
  font-size: 3rem;
}

button {
  font-size: 1.2rem;
  display: block;
  margin: 1em 0;
}

div {
  background-color: thistle;
  height: 100vh;
  margin: 0;
  padding: 1em;
}
